/* Tricky, could be on another path. */
@import "colors-waybar.css";

* {
    font-family: Jetbrains mono nf;
    font-weight: bold;
    font-size: 12px;
    border: none;
    border-radius: 0;
    padding: 0px;
    min-height: 0px;
    margin: 0px;
}

window#waybar {
    background-color: #15171f; 
    padding: 0px;
    margin: 0px 5px 0px 5px;
}
#workspaces {
    border: 1px solid @flamingo;
    margin: 7px 5px 7px 0px;
    padding: 0px 1px;
    border-radius: 6px;
    font-style: normal;
    opacity: 0.8;
}

#workspaces button {
    padding: 0px 2px;
    color: @rosewater;
    /* border-radius: 5px; */
    border: 0px;
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
}

#workspaces button.active {

    /* background: @workspacesbackground2; */
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}



#custom-prompt {
    border-radius: 6px;
    color: @blue;

    padding: 0px 5px 0px 5px;
    margin: 7px 5px 7px 5px;
    opacity:1;
}



/* If workspaces is the leftmost module, omit left margin */


#tray {
    border-radius: 8px;
    padding: 0px 5px 0px 5px;
    margin: 3px 5px 3px 0px;
    opacity: 0.8;
    font-size: 12px;

}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}


@keyframes blink {
    to {
        background-color: rgba(30, 34, 42, 0.5);
        color: #abb2bf;
    }
}

tooltip {
    padding: 4px;
    border: solid 1px @mauve;
    color: @foreground;
    background-color: #15171f;
    /*font-family: CartographCF Nerd Font;*/
    border-radius: 6px;
}

tooltip label {
    padding: 5px;
}

label:focus {
    background-color: @background;
}


#taskbar {
    margin: 5px 5px 3px 0px;
    background: transparent;
    border-radius: 5px;
    padding:5px;
    font-style: normal;
    opacity:0.8;
}

#taskbar button{
    margin:0;
    padding: 0px 5px 0px 5px;
    border: none;
    border-radius: 2px;
}

#taskbar button.active{
    border-bottom: 1px solid @flamingo;
}

#pulseaudio {
    margin: 7px 5px 7px 0px;
    padding: 0px 5px 0px 5px;
    color: @sky;
   
}

#battery {
    margin: 7px 5px 7px 0px;
    padding: 0px 5px 0px 5px;
    color: @rosewater;

}

#clock {
    color: @lavender;
    margin: 7px 5px 7px 0px;
    padding: 0px 5px;
    border: 1px solid;
    border-radius: 6px;

}
#backlight{
    margin: 7px 5px 7px 0px;
    padding: 0px 5px 0px 5px;
    color: @yellow;

}

#cpu{
    margin: 7px 5px 7px 0px;
    padding: 0px 5px 0px 5px;
    color: @pink;


}
#memory{
    margin: 7px 5px 7px 0px;
    padding: 0px 5px 0px 5px;
    color: @red;
}

#network{
    margin: 7px 5px 7px 0px;
    padding: 0px 5px 0px 5px;
    color: @peach;
}
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
