/* Tricky, could be on another path. */
@import "colors-waybar.css";

* {
  font-family: Jetbrains mono nf;
  font-weight: bold;
  font-size: 11px;
  border: none;
  border-radius: 0;
  padding: 0px;
  min-height: 0px;
  margin: 0px;
}

window#waybar {
  background-color: transparent;
  padding: 0px;
  margin: 0px 5px 0px 5px;
}

#network,
#battery,
#backlight,
#pulseaudio,
#cpu,
#memory,
#clock {
  background-color: @graphitewhite;
  color: @graphitedark;
  border-radius: 10px;
}

#workspaces {
  margin: 7px 5px 7px 0px;
  padding: 0px 1px;
  border-radius: 6px;
  font-style: normal;
  opacity: 0.8;
}

#workspaces button {
  padding: 0px 2px;
  color: @graphiteblack;
  /* border-radius: 5px; */
  border: 0px;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
}

#workspaces button.active {
  /* background: @workspacesbackground2; */
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#custom-prompt {
  border-radius: 10px;
  color: @graphitedark;

  padding: 0px 5px 0px 5px;
  margin: 6px 5px 6px 5px;
  font-size: 12px;
  opacity: 1;
  background-color: @graphitewhite;
}

/* If workspaces is the leftmost module, omit left margin */

#tray {
  border-radius: 8px;
  padding: 0px 5px 0px 5px;
  margin: 3px 5px 3px 0px;
  opacity: 0.8;
  font-size: 12px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

tooltip {
  padding: 4px;
  border: solid 1px @graphitewhite;
  color: @graphitewhite;
  background-color: #15171f;
  /*font-family: CartographCF Nerd Font;*/
  border-radius: 6px;
}

tooltip label {
  padding: 5px;
}

label:focus {
  background-color: @background;
}

#taskbar {
  margin: 5px 5px 3px 0px;
  background: transparent;
  border-radius: 5px;
  padding: 5px;
  font-style: normal;
  opacity: 0.8;
}

#taskbar button {
  margin: 0;
  padding: 0px 5px 0px 5px;
  border-bottom: 1px solid transparent;
  border-radius: 2px;
}

#taskbar button.active {
  border-bottom: 1px solid @graphitewhite;
}

#pulseaudio {
  margin: 7px 5px 7px 0px;
  padding: 0px 5px 0px 5px;
}

#battery {
  margin: 7px 5px 7px 0px;
  padding: 0px 5px 0px 5px;
}

#clock {
  margin: 4px 4px 4px 4px;
  border: 1px solid;
  padding: 0px 6px 0px 6px;
  font-weight: bold;
  font-size: 12px;
}
#backlight {
  margin: 7px 5px 7px 0px;
  padding: 0px 5px 0px 5px;
}

#cpu {
  margin: 7px 5px 7px 0px;
  padding: 0px 5px 0px 5px;
}
#memory {
  margin: 7px 5px 7px 0px;
  padding: 0px 5px 0px 5px;
}

#network {
  margin: 7px 5px 7px 0px;
  padding: 0px 5px 0px 5px;
  font-size: 12px;
}
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}
