/* Tricky, could be on another path. */

@define-color backgrounddark #FFFFFF;
@define-color workspacesbackground1 @color8;
@define-color workspacesbackground2 #FFFFFF;
@define-color graphitedark #303030;
@define-color graphitewhite #E0E0E0;
@define-color textcolor3 #FFFFFF;

* {
    font-family: Jetbrains mono nf;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 0;
    padding: 0px;
    min-height: 0px;
    margin: 0px;
}

window#waybar {
    background-color: rgba(30, 30, 30, 0.8);
}

#workspaces {
    background: @workspacesbackground1;
    margin: 2px 1px 3px 1px;
    padding: 0px 1px;
    border: 0px;
    font-style: normal;
    opacity: 0.8;
    font-size: 10px;
}

#workspaces button {
    padding: 0px 5px;
    margin: 3px 2px;
    border-radius: 8px;
    border: 0px;
    color: @graphitedark;
    background-color: @workspacesbackground2;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#workspaces button.active {
    color: @graphitedark;
    background: @workspacesbackground2;
    border-radius: 8px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    color: black;
    background: @workspacesbackground2;
    border-radius: 8px;
    opacity:0.7;
}


#custom-prompt {
    background-color: @graphitewhite;
    font-size: 13px;
    color: @graphitedark;
    border-radius: 8px ;
    padding: 0px 10px 0px 10px;
    margin: 3px 5px 3px 5px;
    opacity:1;
}



/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#tray {
    border-radius: 8px;
    padding: 0px 5px 0px 5px;
    margin: 3px 5px 3px 0px;
    opacity: 0.8;
    font-size: 13px;

}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}


@keyframes blink {
    to {
        background-color: rgba(30, 34, 42, 0.5);
        color: #abb2bf;
    }
}

tooltip {
    border-radius: 8px;
    padding: 4px;
    border: solid 1px #E0E0E0;
    color: @foreground;
    background-color: #303030;
    /*font-family: CartographCF Nerd Font;*/
}

tooltip label {
    padding: 5px;
}

label:focus {
    background-color: @background;
}


#taskbar {
    background: @backgroundlight;
    margin: 2px 15px 3px 0px;
    padding:5px;
    border-radius: 8px;
    font-style: normal;
    opacity:0.8;
}

#taskbar button{
    margin:0;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
    border-bottom: 1px solid transparent;
}

#taskbar button.active{
    border-bottom: 1px solid @graphitewhite;
}

#pulseaudio {
    background-color: @graphitewhite;
    font-size: 13px;
    color: @graphitedark;
    border-radius: 8px;
    padding: 2px 5px 0px 10px;
    margin: 5px 5px 5px 0px;
    opacity:0.8; 

}

#battery {
    background-color: @graphitewhite;
    font-size: 13px;
    color: @graphitedark;
    border-radius: 8px;
    padding: 2px 15px 0px 10px;
    margin: 5px 5px 5px 0px;
    opacity:0.8;
}

#clock {
    background-color: @graphitewhite;
    font-size: 13px;
    color: @graphitedark;
    border-radius: 8px;
    padding: 2px 8px 0px 10px;
    margin: 5px 5px 5px 0px;
    opacity:0.8;   
}
#backlight{
    background-color: @graphitewhite;
    font-size: 13px;
    color: @graphitedark;
    border-radius: 8px;
    padding: 2px 8px 0px 10px;
    margin: 5px 5px 5px 0px;
    opacity:0.8;
}

#cpu{
    background-color: @graphitewhite;
    font-size: 13px;
    color: @graphitedark;
    border-radius: 8px 0px 0px 8px;
    padding: 2px 0px 0px 8px;
    margin: 5px 0px 5px 0px;
    opacity:0.8;
}
#memory{
    background-color: @graphitewhite;
    font-size: 13px;
    color: @graphitedark;
    border-radius: 0px 8px 8px 0px;
    padding: 2px 5px 0px 0px;
    margin: 5px 5px 5px 0px;
    opacity:0.8;
}

#network{
    background-color: @graphitewhite;
    font-size: 13px;
    color: @graphitedark;
    border-radius: 8px;
    padding: 2px 8px 0px 10px;
    margin: 5px 5px 5px 0px;
    opacity:0.8;
}