*{
  font-family: "Jetbrains Mono NF";
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 14px;

}
#outer-box {
  border-radius: 8px;
  padding: 10px;
  border: 2px solid #b4befe;
  background-color: #15171f;
  opacity: 0.8;
}

#entry:selected{
  border: 1px solid #f9e2af;
  background-color: transparent;
  padding: 3px;
}
#input {
  padding: 3px;
  border: none;
}
